<!-- <div class="container_header">
    <div class="nav__header">
        <app-logo-ap></app-logo-ap>
        <app-social></app-social>
    </div>
    <app-banner></app-banner>
</div> -->
<header class="container_header">
  <nav class="navbar navbar-expand-md" aria-label="Fifth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../assets/argProgLogo.png" alt="Logo Argentina Programa" class="img-fluid img-header"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><img src="../../../assets/logoFacebook.png" alt="Logo Facebook" class="logoSocial"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../../../assets/logoIntagram.png" alt="Logo Instagram" class="logoSocial"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false"><img src="../../../assets/logoTwitter.png" alt="Logo Twitter" class="logoSocial"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false"><img src="../../../assets/logoGithub.png" alt="Logo Github" class="logoSocial git"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false"><img src="../../../assets/logoLinkedin.png" alt="Logo Linkedin" class="logoSocial git"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-banner></app-banner>
</header>