.container_header{
    width: 100%;
    background-color: rgb(59, 26, 94);
}
.nav__header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

app-banner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
}

app-social{
    width: 30%;
}

.img-header{
    width: 200px;
}

.logoSocial{
    height: 50px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.git{
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    app-banner{
        display: none;
    }
}