<div class="container_lista">
    <ul class="listaSocial">
        <li class="listaSocial_item">
            <a href="#"><img src="../../../assets/logoFacebook.png" alt="Logo Facebook" class="logoSocial"></a>
        </li>
        <li class="listaSocial_item">
            <a href="#"><img src="../../../assets/logoIntagram.png" alt="Logo Instagram" class="logoSocial"></a>
        </li>
        <li class="listaSocial_item">
            <a href="#"><img src="../../../assets/logoTwitter.png" alt="Logo Twitter" class="logoSocial"></a>
        </li>
        <li class="listaSocial_item">
            <a href="#"><img src="../../../assets/logoLinkedin.png" alt="Logo Linkedin" class="logoSocial"></a>
        </li>
        <li class="listaSocial_item">
            <a href="#"><img src="../../../assets/logoGithub.png" alt="Logo Github" class="logoSocial git"></a>
        </li>
    </ul>
</div>