.container_skills{
    width: 100%;
    padding: 1rem;
    margin: 0;
    padding: 1.25rem;
    background-color: #aa83d0;
    color: #ffffff;
}

.row{
    padding: 1rem 0;
}

.title{
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card_background{
    background: radial-gradient(#ffffff, #ffffff, rgba(0, 0, 0, 0.00004));
    width: calc(100% - 12rem);
    margin: 0 6rem;
    border-radius: 10rem;
    box-shadow: 2px 2px 20px  rgba(0, 0, 0, 0.5);
}