<div class="container_skills">
    <div class="row">
        <h4 class="text-center title">Hard Skills</h4>
        <div class="col-sm-12 col-md-4 text-center">
            <div class=" card_background">
                <circle-progress
                [percent]="50"
                [radius]="100"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'#5c1d9b'"
                [outerStrokeColor]="'#2a1242'"
                [innerStrokeColor]="'#dac2f2'"
                [animation]="true"
                [animationDuration]="600"
                [titleColor]="'#2a1242'"
                [unitsColor]="'#5c1d9b'"
                [subtitleColor]="'#2a1242'"
                [subtitle]="'HTML'"
                [subtitleFontSize]="'1.5rem'"
                ></circle-progress>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <div class=" card_background">
                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'#5c1d9b'"
                    [outerStrokeColor]="'#2a1242'"
                    [innerStrokeColor]="'#dac2f2'"
                    [animation]="true"
                    [animationDuration]="600"
                    [titleColor]="'#2a1242'"
                    [unitsColor]="'#5c1d9b'"
                    [subtitleColor]="'#2a1242'"
                    [subtitle]="'CSS'"
                    [subtitleFontSize]="'1.5rem'"
                ></circle-progress>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <div class=" card_background">
                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'#5c1d9b'"
                    [outerStrokeColor]="'#2a1242'"
                    [innerStrokeColor]="'#dac2f2'"
                    [animation]="true"
                    [animationDuration]="600"
                    [titleColor]="'#2a1242'"
                    [unitsColor]="'#5c1d9b'"
                    [subtitleColor]="'#2a1242'"
                    [subtitle]="'JavaScript'"
                    [subtitleFontSize]="'1.5rem'"
                ></circle-progress>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="text-center title">Soft Skills</h4>
        <div class="col-sm-12 col-md-4 text-center">
            <div class=" card_background">
                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'#5c1d9b'"
                    [outerStrokeColor]="'#2a1242'"
                    [innerStrokeColor]="'#dac2f2'"
                    [animation]="true"
                    [animationDuration]="600"
                    [titleColor]="'#2a1242'"
                    [unitsColor]="'#5c1d9b'"
                    [subtitleColor]="'#2a1242'"
                    [subtitle]="'Inglés'"
                    [subtitleFontSize]="'1.5rem'"
                ></circle-progress>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <div class=" card_background">
                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'#5c1d9b'"
                    [outerStrokeColor]="'#2a1242'"
                    [innerStrokeColor]="'#dac2f2'"
                    [animation]="true"
                    [animationDuration]="600"
                    [titleColor]="'#2a1242'"
                    [unitsColor]="'#5c1d9b'"
                    [subtitleColor]="'#2a1242'"
                    [subtitle]="'Trabajo Colaborativo'"
                    [subtitleFontSize]="'1rem'"
                ></circle-progress>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <div class=" card_background">
                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'#5c1d9b'"
                    [outerStrokeColor]="'#2a1242'"
                    [innerStrokeColor]="'#dac2f2'"
                    [animation]="true"
                    [animationDuration]="600"
                    [titleColor]="'#2a1242'"
                    [unitsColor]="'##5c1d9b'"
                    [subtitleColor]="'#2a1242'"
                    [subtitle]="'HTML'"
                    [subtitleFontSize]="'1.5rem'"
                ></circle-progress>
            </div>
        </div>
    </div>
</div>