.container_skills{
    width: 100%;
    padding: 1rem;
    margin: 0;
    padding: 1.25rem;
    background-color: #aa83d0;
    color: #ffffff;
}

.row{
    padding: 1rem 0;
}

.title{
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}