<section class="row container_experience">
    <h4 class="title">Educación</h4>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h5 class="title">Universidad - (years)</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto reiciendis sint molestias similique, itaque illo enim totam asperiores temporibus, porro, voluptate optio ullam. Error et, quisquam explicabo nobis quis a molestiae, tempora corporis minus natus beatae facere ratione eos sequi esse id impedit ab exercitationem dolorum nemo! Eos consectetur omnis dolorum ratione dolor, repellendus at, voluptatibus eum placeat est ipsum inventore, iusto odio sint reiciendis temporibus sequi esse.</p>
            </li>
            <li>
                <h5 class="title">Curso 1 - (years)</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto reiciendis sint molestias similique, itaque illo enim totam asperiores temporibus, porro, voluptate optio ullam. Error et, quisquam explicabo nobis quis a molestiae, tempora corporis minus natus beatae facere ratione eos sequi esse id impedit ab exercitationem dolorum nemo! Eos consectetur omnis dolorum ratione dolor, repellendus at, voluptatibus eum placeat est ipsum inventore, iusto odio sint reiciendis temporibus sequi esse.</p>
            </li>
            <li>
                <h5 class="title">Curso 2 - (years)</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto reiciendis sint molestias similique, itaque illo enim totam asperiores temporibus, porro, voluptate optio ullam. Error et, quisquam explicabo nobis quis a molestiae, tempora corporis minus natus beatae facere ratione eos sequi esse id impedit ab exercitationem dolorum nemo! Eos consectetur omnis dolorum ratione dolor, repellendus at, voluptatibus eum placeat est ipsum inventore, iusto odio sint reiciendis temporibus sequi esse.</p>
            </li>
        </ul>
    </div>
</section>