.container_proyects{
    width: 100%;
    padding: 1rem;
    background-color: #755299;
    color: #ffffff;
}

.row{
    padding: 1rem 0;
}

.title{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.149);
}

.shadow{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%) !important;
}

.shadow:hover{
    transform: scale(1.025);
    transition: 300ms;
    cursor: pointer;
}