<section class="container_proyects">
    <h4 class="title">Proyectos Realizados</h4>
    <div class="row">
        <div class="col-sm-12 col-md-7 parte1">
            <h5 class="title">Encriptador</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur blanditiis incidunt quia odit deserunt maiores ut labore, veritatis placeat, ea harum architecto impedit, saepe neque nesciunt cumque. Possimus perspiciatis, recusandae optio voluptatum a, exercitationem non eveniet eos voluptatibus sit libero earum explicabo temporibus ipsa. Blanditiis vero aliquam corrupti itaque dolore.</p>
        </div>
        <div class="col-sm-12 col-md-3 offset-md-1 offset-lg-1">
            <img src="../../../assets/encriptador.PNG" alt="Pantalla principal Encriptador" class="img-fluid shadow rounded">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 parte1">
            <h5 class="title">Encriptador</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur blanditiis incidunt quia odit deserunt maiores ut labore, veritatis placeat, ea harum architecto impedit, saepe neque nesciunt cumque. Possimus perspiciatis, recusandae optio voluptatum a, exercitationem non eveniet eos voluptatibus sit libero earum explicabo temporibus ipsa. Blanditiis vero aliquam corrupti itaque dolore.</p>
        </div>
        <div class="col-sm-12 col-md-3 offset-md-1 offset-lg-1">
            <img src="../../../assets/encriptador.PNG" alt="Pantalla principal Encriptador" class="img-fluid shadow rounded">
        </div>
    </div>
</section>