<div class="container__acercaDe">
  <div class="row">
    <div class="col-sm-12 col-md-3 container_fotoPerfil">
      <img
        src="../../../assets/fotoPerfil.jpg"
        alt=""
        class="img-fluid fotoPerfil"
      />
    </div>
    <div class="col-sm-12 col-md-5 abs-center container_titles">
      <span>
        <h1>Morales María del Rocío</h1>
        <h2>Full Stack Developer</h2>
      </span>
    </div>
    <div class="col-sm-12 col-md-4 abs-center container_info">
      <span>
        <h3>Acerca de mí:</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
          deserunt consequatur inventore neque veritatis molestias illo enim
          labore, nesciunt nisi quae vitae ipsam consequuntur ea amet voluptatem!
          Officia, eveniet atque.
        </p>
      </span>
    </div>
  </div>
</div>
