.container_experience{
    width: 100%;
    padding: 1.25rem;
    background-color: #aa83d0;
    color: #ffffff;
}

.container_experience > div > ul{
    list-style: none;
}

.title{
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}