.container_experience{
    width: 100vw;
    padding: 1.25rem;
    background-color: #e2d1f5;
    color: #ffffff;
}

.container_experience > div > ul{
    list-style: none;
}

.title{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.506);
}